@import "tailwindcss";

@theme{

    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-openSans: "Open Sans", sans-serif;

}

html{@apply scroll-smooth;}

.test-item{@apply flex items-center justify-center;}

.default-input{@apply border placeholder:text-neutral-400 border-neutral-400 focus:outline-none focus:border-neutral-500}
